[loggers]
keys=root,job

[handlers]
keys=fileHandler

[formatters]
keys=mainFormatter,debugFormatter

[logger_root]
handlers=

[logger_job]
level=DEBUG
handlers=fileHandler
qualname=job_logger
propagate=0

[logger_main]
level=DEBUG
handlers=fileMainHandler
qualname=main_logger
propagate=0

[handler_fileHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=mainFormatter
args=('logs/%(log_filename)s.log', 'a', 1024*1024, 50)

[formatter_mainFormatter]
format=%(asctime)s - %(name)s - %(filename)s - %(levelname)s - %(message)s
datefmt=

[formatter_debugFormatter]
format=%(levelname)s - %(message)s
datefmt=
